 
 <app-header></app-header>
 <!-- Services Start -->
 <div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Searvices</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Custom Tour Packages</h5>
                                <p class="mb-0">Personalized Itineraries: Tailor your trip to fit your interests and schedule. Our expert travel planners work with you to create a custom itinerary that highlights the best attractions, activities, and accommodations for your unique preferences.</p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Accommodation Booking</h5>
                                <p class="mb-0">Wide Selection: From luxury resorts and boutique hotels to budget-friendly hostels and cozy bed-and-breakfasts, we offer a wide range of accommodations to suit every traveler's needs and budget.</p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Transportation Arrangements</h5>
                                <p class="mb-0">Flights and Transfers: Book your flights and airport transfers seamlessly through our platform. We provide competitive rates and multiple options to fit your schedule and budget.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-user fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Guided Tours and Activities</h5>
                                <p class="mb-0">Expert Guides: Our knowledgeable local guides provide insightful and engaging tours, ensuring you gain a deep understanding of the destination's culture, history, and attractions.</p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-cog fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Group Travel</h5>
                                <p class="mb-0">Family Vacations: Plan the perfect family getaway with our family-friendly tour packages, featuring activities and accommodations suitable for all ages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Travel Insurance</h5>
                                <p class="mb-0">Comprehensive Coverage: Ensure peace of mind with our travel insurance options, covering everything from trip cancellations and medical emergencies to lost luggage and travel delays.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-user fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">24/7 Customer Support</h5>
                                <p class="mb-0">Dedicated Support Team: Our customer support team is available around the clock to assist with any inquiries or issues you may encounter before, during, and after your trip.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-cog fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Travel Resources and Guides</h5>
                                <p class="mb-0">Destination Guides: Access detailed destination guides on our website, featuring travel tips, must-see attractions, local customs, and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Service More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<app-footer></app-footer>
