<app-header></app-header>
<div class="container">
    <h1>Testimonials</h1>
    
    <div class="testimonial">
        <img src="./assets/img/nayeem.jpg" alt="NH">
        <h2>Nayeem Hossain</h2>
        <p>"Travela made my dream trip to Italy absolutely perfect! From the seamless booking process to the wonderful guided tours, everything was top-notch. I especially loved the cooking class in Tuscany - it was an experience I'll never forget. I highly recommend Travela for anyone looking to explore the world with ease and excitement."</p>
    </div>
    
    <div class="testimonial">
        <img src="./assets/img/jahed_n.jpg" alt="JH">
        <h2>Jahed Hassan</h2>
        <p>"My adventure to the African safari was an experience of a lifetime, all thanks to Travela. The tour was well-organized, the guides were knowledgeable, and I felt safe and taken care of throughout the journey. Seeing the Big Five up close was a dream come true. Travela exceeded my expectations in every way."</p>
    </div>
    
    <div class="testimonial">
        <img src="./assets/img/travel.jpg" alt="AH">
        <h2>Anik Hasan</h2>
        <p>"I had an amazing solo travel experience with Travela to New Zealand. The adventure tours were exhilarating, and I met so many wonderful people along the way. The staff at Travela provided excellent support and made sure everything went smoothly. I highly recommend Travela for solo travelers looking for adventure and connection."</p>
    </div>
</div>
<app-footer></app-footer>