.schedule-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .schedule-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .schedule-item:last-child {
    border-bottom: none;
  }
  
  .schedule-info h3 {
    margin: 0 0 10px;
  }
  
  .schedule-info p {
    margin: 5px 0;
  }
  