<table>
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Booking Date</th>
            <th>Tour Package</th>
            <th>Price</th>
            <th>Persons</th>
            <th>Special Request</th>
            
            <!-- <th>Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings">
            <td>{{ booking.name }}</td>
            <td>{{ booking.email }}</td>
            <td>{{ booking.phone }}</td>
            <td>{{ booking.bookingDate }}</td>
            <td>{{ booking.tourPackage }}</td>
            <td>{{ booking.price }}</td>
            <td>{{ booking.persons }}</td>
            <td>{{ booking.specialRequest }}</td>
            
        </tr>
</table>
